.text-div{
   margin: auto;  
   bottom: 0;
   width: 180px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 530px;

}

.calculator-screen {
   width: 90%;
   font-size: 2rem;
   height: 50px;
   border: none;
   background-color: #252525;
   color: #fff;
   text-align: right;
   padding-right: 20px;
   padding-left: 10px;
 }
 
 
button{
   height: 60px;
   width: 70px;
   background-color: #fff;
   border-radius: 3px;
   border: 1px solid #c4c4c4;
   background-color: transparent;
   font-size: 2rem;
   color: #333;
   background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
   box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
   text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
   background-color: #eaeaea;
 }

 .operator {
   color: #337cac;
 }

 .del {
   background-color: #f0595f;
   border-color: #b0353a;
   color: #fff;
 }

 .del {
   background-color: #f17377;
 }
 
 .equalsign {
   background-color: #2e86c0;
   border-color: #337cac;
   color: #fff;
   /* height: 100%; */
  
 }
 .equal-sign:hover {
   background-color: #4e9ed4;
 }

    .btn{
    border: none;
    outline: none;
    height: 35px;
 }

 .func{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    margin: auto;  
    bottom: 5%;
   position: absolute;
   top: 93%;
   left: 45%;
   
   height: 36px;
 }
 .btn:hover{
    background-color: #2e86c0;
 }